lib
dist
external

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

b.out
b.err
vt.out
vt.err
pb.out
pb.err
rt.out
rt.err
tsc.out
tsc.err
